
@page "/students"
@inject AppDbContext DbContext
@using Microsoft.EntityFrameworkCore
@using Assign2_linq.Data

<h3>Student List</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>sname</th>
            <th>major</th>
            <th>standing</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.sname</td>
                <td>@student.major</td>
                <td>@student.standing</td>
            </tr>
        }
    </tbody>
</table>
<button><NavLink href="/students/create">Add Student</NavLink></button>

@code {

    List<Student> students;
    protected override void OnInitialized() => students = DbContext.Students.ToList();
}
